@font-face {
  font-family: "Exo-Regular";
  src: url(../fonts/Exo-Regular.otf);
  font-weight: 200;
}
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url(../fonts/SourceSansPro-Regular.ttf);
  font-weight: 200;
}

/*-----------*/
/* Dashboard */
/*-----------*/

.dashboard-content{
	margin-top: 30px;
  margin-left: 30px;
}

.rounded-circle{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

#wrapper {
  height: 100%;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: 0;
}

#sidebar-wrapper.hide{
  height: 0;
  visibility: hide;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  margin-top: 40px;
  margin-left: 20px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*----------*/
/*  Navbar  */
/*----------*/
.btn-toggle-sidebar{
  font-size: 20px;
  color: white;
  background: transparent;
  border: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}

.navbar-default .navbar-toggle{
  border-color: white;
}

.navbar-brand img{
  height: 40px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 47px;
}

.navbar-brand{
  padding: 0;
}

.navbar-nav li:hover{
  background-color: #466a9a;
}

.nav-header-item{
  color: white !important;
}

.navbar{
  background-color: #4187CD;
  border-radius: 0;
  min-height: 50px;
  margin-bottom: 0;
}

@media (min-width: 768px){
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .login-register > li{
    padding-top: 0px;
  }
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar {
  height: 100%;
  margin-top: 72px;
}

.sidebar-nav li:nth-child(2){
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.sidebar-item{
  background-color: #466a9a;
  color: white;
  border: none;
}

a.sidebar-item{
  color: white;
}

.sidebar-item.active{
  color: #555;
  background-color: white;
}

.sidebar-item.active:hover{
  color: #555;
  background-color: white;  
}

.sidebar{
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar-item-header{
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Exo-Regular';
}
p.sidebar-item-header{
  font-family: 'Exo-Regular';
}
.sidebar-nav {
  background-color: #466a9a;
  width: 220px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative; 
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 15px 15px 15px 30px;
}

.sidebar-nav li a:hover, .sidebar-nav li a:focus{
  color: #555;
}

.sidebar-nav > .sidebar-brand {
  font-family: 'Exo-Regular';
  font-size: 20px;
  background-color: #466a9a;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.badge{
  background-color: #d9edf7;
  color: #31708f;
  float: right;
}

.badge-warn{
  background-color: #f2dede;
  color: #a94442;
  float: right;
}